@(lunchForm: Form[LunchForm], orderList: List[LunchOrder] )
@implicitFieldConstructor = @{ helper.FieldConstructor(twitterBootstrapInput.render) }

@main("Welcome to Play 2.0") {

    <div class="container">
        @helper.form(action = routes.lunchCtrl.addOrder(), 'class -> "form-inline well") {
            @helper.inputText(lunchForm("person"), '_label -> "Name")
            @helper.inputText(lunchForm("restaurant"), '_label -> "Restaurant")
            @helper.inputText(lunchForm("order"), '_label -> "Order")
            @helper.inputText(lunchForm("specialRequest"), '_label -> "Special Requests")
            <div class="form-group">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        }
        <table id="orders" class="table table-hover">
            <tr>
                <th>Name</th>
                <th>Restaurant</th>
                <th>Order</th>
                <th>Special Requests</th>
            </tr>
            @for(order <- orderList){
            <tr>
                <td>@order.getPerson()</td>
                <td>@order.getRestaurant()</td>
                <td>@order.getOrder()</td>
                <td>@order.getSpecialRequest()</td>
            </tr>
            }
        </table>
    </div>

}
